<mat-toolbar color="primary">
    <span>
        <a routerLink="/">OffrBox</a>
    </span>
   <span class="spacer"></span>
   <span class="spacer"></span>

   <span class="spacer"></span>

   <span class="spacer"></span>

       <ul>
           <li>
               <a mat-button routerLink="/home-signin" routerLinkActive="mat-accent">Login</a>
           </li>
           <li>
                <a mat-button routerLink="/home-signup" routerLinkActive="mat-accent">Signup</a>
            </li>
       </ul>
</mat-toolbar>