<div class="container" style="padding-top:30px">
    <div class="well">
Choose a property to start:

<div class="card" style="width: 25px;">
        <img class="card-img-top" src="../../assets/Capture.JPG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Property 1: UTD </h5>
          <p class="card-text"></p>
          <a routerLink="/tenant-rent-application-form" class="btn btn-primary">Apply to Rent</a>
        </div>
      </div>

<!-- <button class="btn btn primary" routerLink="/tenant-rent-application-form">Apply to Rent</button> -->
</div>
</div>