<!-- <div class="container" style="padding-top:30px">
  <div class="well"> 
    <div class="row">
    
    
    Choose a property to start:
    <div class="col-md-6">
    <div class="col-6 col-sm-4">
    <div class="card" style="width:10px;">
      <img class="card-img-top" src="../../assets/property1.jpg" alt="Card image cap" style="width:200px; height:150px">
      <div class="card-body">
        <h5 class="card-title">Property 1: UTD </h5>
        <p class="card-text"></p>
        <a routerLink="/tenant-rent-application-form" class="btn btn-primary">Apply to Rent</a>
      </div>
      </div>
      <div class="col-md-6"></div>
      <br>

      <div class="card" style="width:10px;">
          <img class="card-img-top" src="../../assets/property1.jpg" alt="Card image cap" style="width:200px; height:150px">
          <div class="card-body">
            <h5 class="card-title">Property 1: UTD </h5>
            <p class="card-text"></p>
            <a routerLink="/tenant-rent-application-form" class="btn btn-primary">Apply to Rent</a>
          </div>
    </div>
  </div>
</div>
</div> -->

<!-- <button class="btn btn primary" routerLink="/tenant-rent-application-form">Apply to Rent</button> -->

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <h3>Properties To Rent: </h3>

      <div class="row">
        <br>
        <div class="card col-xs-4">
          <img class="card-img-top" src="../../assets/property1.jpg" alt="Card image cap" style="width:200px; height:150px">
          <div class="card-body">
            <h5 class="card-title">Property 1: UTD </h5>
            <p class="card-text"></p>
            <a routerLink="/tenant-rent-application-form" class="btn btn-primary">Apply to Rent</a>
          </div>
        </div>
        <div class="card col-xs-4">
          <img class="card-img-top" src="../../assets/property1.jpg" alt="Card image cap" style="width:200px; height:150px">
          <div class="card-body">
            <h5 class="card-title">Property 1: UTD </h5>
            <p class="card-text"></p>
            <a routerLink="/tenant-rent-application-form" class="btn btn-primary">Apply to Rent</a>
          </div>
        </div>


        <div class="card col-xs-4 ">
          <img class="card-img-top" src="../../assets/property1.jpg" alt="Card image cap" style="width:200px; height:150px">
          <div class="card-body">
            <h5 class="card-title">Property 1: UTD </h5>
            <p class="card-text"></p>
            <a routerLink="/tenant-rent-application-form" class="btn btn-primary">Apply to Rent</a>
          </div>
          <br>



        </div>
      </div>
      <!-- <hr>

      <hr>
 -->

      <h3> Applications: </h3>
      <div *ngFor="let info of infoSentToServer">

        <div class="bs-callout bs-callout-success">
          <h3><button type="text">{{info.contactEmail}} {{info.contactEmail}}</button></h3> 
         
            <a target="_top" href="mailto:{{info.applicantEmail}}">{{info.applicantEmail}}</a>

            <h3><button type="text">{{info.contactFirstName}} {{info.contactLastName}}</button></h3> 
         
            <a target="_top" href="mailto:{{info.contactFirstName}}{{info.contactLastName}}">Email: {{info.contactFirstName}} {{info.contactLastName}}</a>
            <h5>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Past Applications:</h3>
              </div>
              <div class="panel-body">
                <h3><button type="text">{{info.contactEmail}} {{info.contactEmail}}</button></h3> 
         
            <a target="_top" href="mailto:{{info.applicantEmail}}">{{info.applicantEmail}}</a>
                 
                <a class="btn btn-primary" click="display_show(contactEmail)">All</a>

              </div>
            </div>

          </h5>
          <br>
        </div>
      </div>
    </div>