
<body>

        <style type="text/css">
            .navbar-fixed-left{
               padding-top:0px;
             width:100px;
             position:fixed;
             border-radius: 0;
             height:100%;
             backface-visibility:visible;
             background-color: rgb(255, 253, 253);
             
    
            }
    
            .navbar-fixed-left .navbar-nav >li{
    
                background-color: rgb(255, 253, 253);
                float:none;
                width:139px;
                font-size: 12px;
                font-style:bold;
                color:black;
            }
            
            </style>
    
        
    <!-- <nav class="navbar navbar-inverse navbar-fixed-left"> -->
    
        <div class="nav navbar-fixed-left " style="margin-top: 0px; padding-block-start: 0px;" >
    <!-- <ul class="nav navbar-nav">
    <li class=""><a href="#">PROPERTIES<span class="sr-only">(current)</span></a></li>
    <li><a href="" id="op1">PAYMENTS</a></li><span class="glyphicons glyphicons-home"> </span>
    <li><a href="" id="op1">LISTINGS</a></li>
    <li><a href="" id="op1">APPLICATIONS</a></li>
    <li><a href="" id="op1">SCREENING</a></li>
    <li><a href="" id="op1">MAINTENANCE</a></li>
    <li><a href="" id="op1">EXPENSES</a></li> 
    <li><a href="" id="op1">PAID SERVICES</a></li> 
    <br>
    <br>
    <br> 
    <li><a href="">Export Data</a></li> 
    <li><a href="">Help Center</a></li>
    <li><a href="">Contact Support</a></li>
    <li><a href="">Terms Of Use</a></li>
    <li><a href="">Security And Privacy</a></li>
    
    </ul> -->
    <ul class="nav flex-column" style="background-color:rgba(240, 240, 240, 0.938); padding-top: 0px; width:160px; font-size: 14px;height:100%; margin-top:0px; ">
            <li class="nav-item" id="hell">
              <a class="nav-link" href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;PROPERTIES</a>
            </li>
            <li class="nav-item" id="hell">
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-usd"></span>&nbsp;PAYMENTS</a>
                  </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="glyphicon glyphicon-list"></span>&nbsp;LISTINGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/tenant-applications"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;APPLICATIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/screening-request"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;SCREENING</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp;MAINTENANCE</a>
                  </li>
           <li class="nav-item">
                        <a class="nav-link" href="#"><span class="glyphicon glyphicon-check"></span>&nbsp;EXPENSES</a>
                      </li>
            <li class="nav-item">
                            <a class="nav-link" href="#"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;PAID SERVICES</a>
                          </li>
           <br>
           
           
           <li class="nav-item">
                <a class="nav-link" href="#">Export Data</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#">Help Center</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="#">Contact Support</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#">Terms Of Use</a>
                          </li>
                          <li class="nav-item">
                                <a class="nav-link" href="#">Security & Privacy</a>
                              </li>
    
          </ul>
        </div>
    
    
  <h3 style=" align-items: center;
     
  margin-left: 200px;">DASHBOARD:</h3>   
  


 <h1> <img src="../../assets/Capture.JPG" style=" align-items: center; margin-left: 250px;" > </h1>
<!-- <button id="well2" routerLink="/tenant-applications">Applications</button> -->
<h3><img src="../../../assets/capture1.PNG" style="margin-left :300px"></h3>


</body>
