<div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSignup(f)" #f="ngForm">
            <h2>Choose Your Screening Method</h2>
              <label>
                 <a></a>

                  <input type="radio" name="opt1" value="1" ngModel />
                  <img src="https://www.rentecdirect.com/images/join-the-club.png">
                  <p>Full Screening Report</p> 
                  <p>$39.99</p>
              </label>
              <label>
                  <input type="radio" name="opt1" value="2" ngModel  />
                  <img src="https://www.rentecdirect.com/images/join-the-club.png">
                  <p>Credit Report</p>
                  <p>$24.99</p>
                </label>              
                <label>
                    <input type="radio" name="opt1" value="3" ngModel  />
                    <img src="https://www.rentecdirect.com/images/join-the-club.png">
                    <p>Background Check</p>
                    <p>$24.99</p>
                </label>
              
            <hr>
            <h2>Enter Your Applicant's Information</h2>
          <div id="user-data">
            <div class="row">
              <div class="form-group col-xs-6">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" class="form-control" name="applicantFirstName" ngModel required>
            </div>
            <div class="form-group col-xs-6">
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" class="form-control" name="applicantLastName" ngModel required>
            </div>
          </div>
            <div class="form-group">
              <label for="applicantEmail">Their Email Address</label>
              <input type="email" id="applicantEmail" name="applicantEmail" ngModel class="form-control" required email>
            </div>
            <div class="form-group">
              <label for="applicantPhoneNo">Phone (Optional): </label>
              <input type="tel" minlength="9" maxlength="13" name="applicantPhoneNo" ngModel class="form-control">
            </div>
            <br>
            <button type="button" class="btn btn-primary" disabled>
              Add Another Applicant
            </button>
            <p>This button is disabled.</p>
          </div> 
          <hr> 
          <br>
          <br>
          <br>

<!-- <div *ngIf="userIsAuthenticated">
    <p>Already a member? <a routerLink="/signin">Sign in</a></p>
    <div class="form-group">
      <label for="noOfUnits">No Of Units Managed</label>
      <input type="number" min='1' id="noOfUnits" name="noOfUnits" ngModel class="form-control" required>
    </div>
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="firstName">First Name</label>
        <input type="text" id="ownerFirstName" name="firstName" ngModel class="form-control" required>
      </div>
      <div class="form-group col-xs-6">
        <label for="lastName">Last Name</label>
        <input type="email" id="ownerLastName" name="lastName" ngModel class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label for="applicantPhoneNo">Phone (Optional): </label>
      <input type="tel" minlength="9" maxlength="13" name="applicantPhoneNo" ngModel class="form-control" >
    </div>
  <div class="form-group">
    <label for="email">Mail</label>
    <input type="email" id="email" name="email" ngModel class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      class="form-control"
      required>
  </div>
  <div class="form-group">
    <input type="checkbox" ngModel name="checkbox" required> <span>I certify That I've read the terms and conditions</span>
  </div>

</div> -->




      <button class="btn btn-success btn-block" type="submit" [disabled]="!f.valid" >Send Requests</button>
      <p>After sending requests check tenant's inbox to proceed.</p>
    </form>
    <br>
    <div *ngIf="userIsAuthenticated">
        <button class="btn btn-success btn-block" routerLink="/dashboard">Go back to DashBoard</button>
    </div>
    
  </div>
</div>
</div>





