<div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSignup(f)" #f="ngForm">
            <h2>Choose Your Screening Method</h2>
              <label>
                  <input type="radio" name="opt1" value="1" />
                  <img src="https://www.rentecdirect.com/images/join-the-club.png">
              </label>
              <label>
                  <input type="radio" name="opt1" value="2"  />
                  <img src="https://www.rentecdirect.com/images/join-the-club.png">
                </label>              
                <label>
                    <input type="radio" name="opt1" value="3  "  />
                    <img src="https://www.rentecdirect.com/images/join-the-club.png">
                </label>
              
            <hr>
            <h2>Enter Your Applicant's Information</h2>
          <div id="user-data">
            <div class="row">
              <div class="form-group col-xs-6">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" class="form-control">
            </div>
            <div class="form-group col-xs-6">
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" class="form-control">
            </div>
          </div>
            <div class="form-group">
              <label for="applicantEmail">Their Email Address</label>
              <input type="email" id="applicantEmail" name="applicantEmail" ngModel class="form-control">
            </div>
          </div>
        
     
          

<br><hr>
    
        <h2>Create Your Free Account</h2>

      <p>Already a member? <a routerLink="/signin">Sign in</a></p>
        <div class="form-group">
          <label for="noOfUnits">No Of Units Managed</label>
          <input type="number" min='1' id="noOfUnits" name="noOfUnits" ngModel class="form-control">
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label for="firstName">First Name</label>
            <input type="text" id="ownerFirstName" name="firstName" ngModel class="form-control">
          </div>
          <div class="form-group col-xs-6">
            <label for="lastName">Last Name</label>
            <input type="email" id="ownerLastName" name="lastName" ngModel class="form-control">
          </div>
        </div>
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Send Requests</button>
    </form>
  </div>
</div>
</div>





