
<body>

        <style type="text/css">
            .navbar-left{
               padding-top:0px;
             width:100px;
             position:fixed;
             border-radius: 0;
             height:100%;
             backface-visibility:visible;
             background-color: rgb(255, 253, 253);
            
             
    
            }
    
            .navbar-left .navbar-nav >li{
    
                background-color: rgb(255, 253, 253);
                float:none;
                width:139px;
                font-size: 12px;
                font-style:bold;
                color:black;
            }
            
            </style>
            
    
        
    <!-- <nav class="navbar navbar-inverse navbar-fixed-left"> -->
      <!-- <nav class="navbar-expand-lg navbar-light bg-light">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="#">Hidden brand</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
      </nav> -->
  
   
      <div class="nav navbar-left  " style="margin-top:0px; padding-block-start: 0px;" id="divide1" >
          <!-- <ul class="nav navbar-nav">
          <li class=""><a href="#">PROPERTIES<span class="sr-only">(current)</span></a></li>
          <li><a href="" id="op1">PAYMENTS</a></li><span class="glyphicons glyphicons-home"> </span>
          <li><a href="" id="op1">LISTINGS</a></li>
          <li><a href="" id="op1">APPLICATIONS</a></li>
          <li><a href="" id="op1">SCREENING</a></li>
          <li><a href="" id="op1">MAINTENANCE</a></li>
          <li><a href="" id="op1">EXPENSES</a></li> 
          <li><a href="" id="op1">PAID SERVICES</a></li> 
          <br>
          <br>
          <br> 
          <li><a href="">Export Data</a></li> 
          <li><a href="">Help Center</a></li>
          <li><a href="">Contact Support</a></li>
          <li><a href="">Terms Of Use</a></li>
          <li><a href="">Security And Privacy</a></li>
          
          </ul> -->
          <ul class="nav flex-column" style="background-color:rgba(240, 240, 240, 0.938); padding-top: 0px; width:160px; font-size: 14px;height:100%; margin-top:0px; " id="divide1">
                  <li class="nav-item" id="hell">
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;PROPERTIES</a>
                  </li>
                  <li class="nav-item" id="hell">
                          <a class="nav-link" href="#"><span class="glyphicon glyphicon-usd"></span>&nbsp;PAYMENTS</a>
                        </li>
                  <li class="nav-item" id="hell">
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-list"></span>&nbsp;LISTINGS</a>
                  </li>
                  <li class="nav-item" id="hell">
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;APPLICATIONS</a>
                  </li>
                  <li class="nav-item" id="hell">
                    <a class="nav-link" routerLink="/screening-reports"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;SCREENING</a>
                  </li>
                  <li class="nav-item" id="hell">
                          <a class="nav-link" href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp;MAINTENANCE</a>
                        </li>
                 <li class="nav-item" id="hell">
                              <a class="nav-link" href="#"><span class="glyphicon glyphicon-check"></span>&nbsp;EXPENSES</a>
                            </li>
                  <li class="nav-item" id="hell">
                                  <a class="nav-link" href="#"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;PAID SERVICES</a>
                                </li>
                 <!-- <br id="hell"> -->
                 
                 <li class="nav-item" id="hell">
                      <a class="nav-link" href="#">Export Data</a>
                    </li>
                    <li class="nav-item" id="hell">
                          <a class="nav-link" href="#">Help Center</a>
                        </li>
                        <li class="nav-item" id="hell">
                              <a class="nav-link" href="#">Contact Support</a>
                            </li>
                            <li class="nav-item" id="hell">
                                  <a class="nav-link" href="#">Terms Of Use</a>
                                </li>
                                <li class="nav-item" id="hell">
                                      <a class="nav-link" href="#">Security & Privacy</a>
                                    </li>
          
                </ul>
              </div>
              
          
         
              <h3 style=" align-items: center;
     
  margin-left: 200px;">DASHBOARD:</h3>   
  


 <h1> <img src="../../assets/Capture.JPG" style=" align-items: center; margin-left: 250px;" > </h1>
<!-- <button id="well2" routerLink="/tenant-applications">Applications</button> -->
<h3><img src="../../../assets/capture1.PNG" style="margin-left :300px"></h3>
          
          
      <!-- <button id="wel1" routerLink="/screening-reports">screening-reports</button> -->




      <div class="container">

          <div class="row">
    
              <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                  <div class="button col-md-3">
                    <button type="text" class="btn btn-primary" class="hugebuttons"><span class="glyphicon glyphicon-home fa-lg"></span>&nbsp;PROPERTIES</button>

                  </div>
                  <div class="button col-md-3">
                      <button type="text" class="btn btn-primary" class="hugebuttons"><span class="glyphicon glyphicon-usd"></span>&nbsp;PAYMENTS</button>
                      
                    </div>
                    <div class="button col-md-3">
                        <button type="text" class="btn btn-primary" class="hugebuttons"><span class="glyphicon glyphicon-list"></span>&nbsp;LISTINGS</button>
                        
                      </div>
                      <div class="button col-md-3">
                          <button type="text" class="btn btn-primary" class="hugebuttons"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;APPLICATIONS</button>
                          
                        </div>
                        <div class="button col-md-3">
                            <button type="text" class="btn btn-primary" class="hugebuttons"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;SCREENING</button>
                            
                          </div>
                          <div class="button col-md-3">
                              <button type="text" class="btn btn-primary" class="hugebuttons"><span class="glyphicon glyphicon-wrench"></span>&nbsp;MAINTENANCE</button>
                              
                            </div>
                            <div class="button col-md-3">
                                <button type="text" class="btn btn-primary" class="hugebuttons"><span class="glyphicon glyphicon-check"></span>&nbsp;EXPENSES</button>
                                
                              </div>
                              <div class="button col-md-3">
                                  <button type="text" class="btn btn-primary" class="hugebuttons"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;PAID SERVICES</button>
                                  
                                </div>
                          
              
              
              
              </div></div>

    
    </div>
          </body>