#wel1
{
    align-items: center;
     
    margin-left: 250px ;
    margin-top: 0px;
}

/* #divide1{

padding-top:0px; 
background-color:red; 

}

#hell{
    padding-top:0px; 
background-color:white; 



} */