<div class="container">
    <h1>
            Welcome to OffrBox </h1>
    <br>
<br>
<br>
<p>This is a test version for tenant Screening, which includes:</p>
<ol>
    <li>Landlord/owner logging in/Signing up.
    </li>
    <li>Sending a screening request.</li>
    <li>Tenant can complete the screening and procedd to pay for it using PayPal</li>
</ol>
</div>

<!-- <div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div> -->

